<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Floats Only</title>
    <link rel="stylesheet" href="../assets/css/float.css">

</head>
<body>
    <article class='main'>
        <header class='main-header'>
            <img src="https://png.icons8.com/color/1600/sakura.png" class="main-logo">
            <h1>Sakura <small>a blog about cherry blossoms</small></h1>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">FAQ</a>
            </p>
            <div class="clearfix"></div>
        </header>
        <main>
            <aside>
                <h4> Outline</h4>
                <ul>
                    <li>Intro</li>                    
                    <li>Argument 1</li>
                    <li>Argument 2</li>
                    <li>Argument 3</li>
                    <li>Conclusion</li>
                    
                </ul>
            </aside>
            <article>
                <h2>Content!</h2>
                    <p>
                    Sweet roll muffin fruitcake bear claw marshmallow soufflé fruitcake. Chocolate jujubes pie dessert cookie wafer candy tart. Donut candy tiramisu liquorice ice cream marzipan. Chocolate cupcake marzipan lemon drops cake biscuit candy bear claw. Liquorice gingerbread chocolate cake gingerbread sweet. Biscuit lollipop caramels cake chocolate ice cream sweet. Sugar plum dragée sesame snaps sesame snaps oat cake donut chocolate bar cake. Jujubes powder brownie carrot cake sugar plum soufflé. Soufflé marzipan cake cheesecake lemon drops dragée. Carrot cake bonbon jelly-o powder cotton candy lollipop gingerbread dragée dessert. Tiramisu donut soufflé lemon drops. Halvah dragée dessert gummi bears tootsie roll candy canes cake. Liquorice bonbon sweet roll. Caramels chocolate cake fruitcake powder pastry tiramisu.
                        </p><p>
                        Chupa chups oat cake cookie. Macaroon dessert brownie cotton candy tiramisu pastry cupcake. Liquorice oat cake danish bonbon halvah gingerbread. Tiramisu lemon drops pastry pie gingerbread tart sweet toffee. Marshmallow tiramisu jelly-o bear claw sesame snaps lemon drops. Macaroon caramels gummies biscuit chocolate cake. Oat cake jelly danish macaroon soufflé soufflé cookie marshmallow. Sesame snaps donut tart croissant cake macaroon halvah ice cream jelly beans. Sweet roll dragée dessert pudding topping. Ice cream apple pie gummi bears oat cake brownie jujubes gingerbread dragée cheesecake. Oat cake cookie caramels halvah. Tart biscuit jelly sesame snaps. Jujubes ice cream lollipop powder. Chocolate topping tart oat cake ice cream marshmallow ice cream.
                    </p><p>
                        Liquorice gingerbread chocolate bar powder ice cream ice cream cupcake. Sweet cheesecake pie sweet roll caramels chocolate cake tiramisu pie candy. Gingerbread sugar plum sesame snaps sugar plum chocolate candy apple pie gingerbread. Soufflé lemon drops cake. Sugar plum tart pudding carrot cake liquorice gingerbread dragée. Muffin cheesecake tootsie roll chocolate cake topping lollipop cupcake dragée. Marshmallow muffin macaroon pastry jelly-o sesame snaps lemon drops pie. Chocolate cake pastry biscuit candy tootsie roll gummi bears pudding pie. Chocolate bar cake chocolate cake ice cream jelly. Tiramisu icing tootsie roll wafer. Pie topping caramels cotton candy icing cookie cotton candy pastry cotton candy. Cake sweet roll croissant halvah tootsie roll. Jelly brownie toffee cake cotton candy tiramisu lemon drops toffee donut.
                    </p>
                    <p>
                        
                    </p>
                    <section class='cards'>

                        <div class='card'>
                            <div class='card-title'>
                                Some Cherry Blossoms
                            </div>
                            <img class='card-img' src="https://vacation-niseko.s3.ap-northeast-1.amazonaws.com/uploads/ckeditor/pictures/2294/sakura2.jpg">
                            <div class="card-footer">
                                    Aren't they pretty?
                            </div>
                        </div>
                        <div class='card'>
                                <div class='card-title'>
                                    Some Cherry Blossoms
                                </div>
                                <img class='card-img' src="https://vacation-niseko.s3.ap-northeast-1.amazonaws.com/uploads/ckeditor/pictures/2294/sakura2.jpg">
                                <div class="card-footer">
                                        Aren't they pretty?
                                </div>
                            </div>
                            <div class='card'>
                                    <div class='card-title'>
                                        Some Cherry Blossoms
                                    </div>
                                    <img class='card-img' src="https://vacation-niseko.s3.ap-northeast-1.amazonaws.com/uploads/ckeditor/pictures/2294/sakura2.jpg">
                                    <div class="card-footer">
                                            Aren't they pretty?
                                    </div>
                                </div>
                            <div class="clearfix"/>
                    </section>
            </article>
            <div class="clearfix"></div>
            
        </main>
        <footer>
                &copy; 2018 Gabe is Awesome USA
            </footer>
    </article>
    
</body>
</html>